In [4]:
import pandas as pd

In [6]:
people={"first":["jane","john","joseph"],"last":["doe","doe","carpt"],"email":["jane@gmail.com","john@gmail.com","jo@gmail.com"]}
people

{'first': ['jane', 'john', 'joseph'],
 'last': ['doe', 'doe', 'carpt'],
 'email': ['jane@gmail.com', 'john@gmail.com', 'jo@gmail.com']}

In [8]:
df=pd.DataFrame(people)
df

    first   last           email
0    jane    doe  jane@gmail.com
1    john    doe  john@gmail.com
2  joseph  carpt    jo@gmail.com

In [12]:
filt=(df['last']=='doe')
filt

0     True
1     True
2    False
Name: last, dtype: bool

## Accessing data through filtered masks

### Eg.1

In [14]:
df[filt]

  first last           email
0  jane  doe  jane@gmail.com
1  john  doe  john@gmail.com

### Eg.2

In [17]:
df[df['last']=='doe']

  first last           email
0  jane  doe  jane@gmail.com
1  john  doe  john@gmail.com

### Eg.3

In [18]:
df.loc[filt]

  first last           email
0  jane  doe  jane@gmail.com
1  john  doe  john@gmail.com

#### Specify col

In [19]:
df.loc[filt,"email"]

0    jane@gmail.com
1    john@gmail.com
Name: email, dtype: object

### Using logical operators to filter data

In [22]:
filt2=(df['last']=="doe")&(df['first']=="john")

In [23]:
df.loc[filt2,"email"]

1    john@gmail.com
Name: email, dtype: object

In [24]:
filt3=(df["first"]=="john")|(df["last"]=="doe")

In [26]:
df.loc[filt3,"first"]

0    jane
1    john
Name: first, dtype: object

### To negate

In [27]:
df.loc[~filt3,"first"]

2    joseph
Name: first, dtype: object

In [42]:
df2=pd.read_csv("survey_results_schema.csv")
df3=pd.read_csv("survey_results_public.csv")
df3.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [40]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [56]:
high_salary=(df3["ConvertedCompYearly"]>70000)
df3.loc[high_salary,["LanguageHaveWorkedWith","ConvertedCompYearly","Country"]]

,LanguageHaveWorkedWith,ConvertedCompYearly,Country
3,C#;JavaScript;SQL;TypeScript,215232.0,Israel
11,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,194400.0,United States of America
14,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,110000.0,United States of America
17,Python;SQL,202623.0,Austria
22,C#;SQL;TypeScript,97605.0,Canada
...,...,...,...
73107,C#;SQL,72707.0,Brazil
73111,Bash/Shell;Groovy;HTML/CSS;Java;JavaScript;PHP...,115000.0,United States of America
73113,C;C#;C++,94000.0,United States of America
73116,C#;HTML/CSS;Java;JavaScript,115000.0,United States of America
73121,Python,75384.0,United Kingdom of Great Britain and Northern I...

### To access a set of criteria using lists

In [58]:
countries=["United States of America","Brazil","Canada"]
filt4=df3["Country"].isin(countries)
df3.loc[filt4,"Country"]

1                          Canada
4        United States of America
11       United States of America
12       United States of America
14       United States of America
                   ...
73249                      Brazil
73254    United States of America
73264    United States of America
73265    United States of America
73267                      Canada
Name: Country, Length: 18142, dtype: object

### String methods to access data

In [60]:
filt5=df3["LanguageHaveWorkedWith"].str.contains("Python",na=False)
df3.loc[filt5,"LanguageHaveWorkedWith"]

2                        C#;C++;HTML/CSS;JavaScript;Python
6            C++;HTML/CSS;JavaScript;PHP;Python;TypeScript
11       C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL
14             HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala
16                                    C#;Java;PHP;Python;R
                               ...
73257                                         C;Python;SQL
73261    Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL...
73263    Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...
73264            Bash/Shell;HTML/CSS;JavaScript;Python;SQL
73265                   HTML/CSS;JavaScript;PHP;Python;SQL
Name: LanguageHaveWorkedWith, Length: 34155, dtype: object